<<<<<<< Local Changes
body {
    font-size: 40px;
    padding: 8px 16px 0px 8px;
}

header {
    padding: 0 0 16px 0;
}

li {
    list-style: none;
    margin-bottom: 4px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20;
}

ul, ol {
    margin-top: 20;
    padding-left: 20;
}

a, a:hover, a:visited, a:active {
    color: #FF0000;
}

h1 a {
	    text-decoration: line-through;
}

p {
    margin-top: 0;
}

/* This makes the images scale to the full width of the page */
img {
    width: 100%;
    height: auto;
}


@media screen and (max-width: 36em) {
    /* These CSS instructions are only used, if the 
     * ‘media query’ above turns out to be true 
     * 
     * Media query’s can use properties like:
     * width
     * orientation
     * resolution
     * screen / print
     */
    /* Smaller Screens */
    /* Our heading can be smaller */
     header h1 {
        font-size: 16px;
        font-style: italic;
    }
}

@media only screen and (min-width: 36em) {
    article { 
=======
    /* Larger Screens */
    article {
        width: calc(100% - 200px);
        float: right;
        margin-right: 0;
		font-size: 300px;
		line-height: 320px;
		font-family: sans-serif, arial, helvetica, times;
		
		
		-moz-transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1);
    }
    nav {
        width: 200px;
        float: left;
        margin-left: 0;
    }
    footer {
        clear: both;
    }

}
<<<<<<< Local Changes
=======
>>>>>>> External Changes
=======

@media only print {
    /**
     * When printing, the header is useful but it doesn’t need
     * to be so big
     */
    header h1 {
        font-size: 16px;
        font-style: italic;
    } 
	
	header h2 { 
		font-size: 16px; 
		font-color: red;
	}
    /* And the navigation we don’t need */
    nav {
        display: none;
    }
}
<<<<<<< HEAD


=======
>>>>>>> External Changes
>>>>>>> FETCH_HEAD
