// Requirements
// ============

@font-face {
  font-family: WorkSans;
  src: url(../fonts/WorkSans-Medium.woff) format("woff");

}



body {
  font-size: 17px;
  line-height: 1.5;
  font-family: 'WorkSans', "Times New Roman", sans-serif;
  font-weight: 500;



}




em {


}

i {
  font-style: italic;
  font-weight: normal;

}

h1 {
  font-size: 1;



}

