#wrapper {
padding: 94px 710px 0 188px;
}

p {
	font-family: Helvetica;
	font-weight: normal;
	font-size: 12pt;
	text-indent: 36px;
}

span.dropt {
	border-bottom: thin dotted; 
	font-size: 9pt;

}

span.dropt:hover {
	text-decoration:none; 
	z-index: 20; }


span.dropt:hover span {
	left: 2%; 
	background: #ffffff;} 

span.dropt span {
	position: absolute; left: -9999px;
 	margin: 4px 0 0 0px; 
  	padding: 3px 3px 3px 3px; 
  	border-style:solid; 
  	border-color:black; 
  	border-width:5px;}

span.dropt:hover span {
	color: black;
	margin: 0px 0 0 726px; 
	background: white; 
	z-index:20;} 


li { 
	list-style: none;
	margin-left: -20px;
	font-family: helvetica;
	font-weight: normal;
	font-size: 14pt;
}

h1 { 
	font-family: helvetica;
	font-weight: bold;
	font-size: 20pt;
	padding-left: 188px;
}

h2 { 
	font-family: helvetica;
	font-weight: bold;
	font-size: 14pt;

}

a {
	color: black;
	text-decoration: none;

}

a:hover {
	color: red;
	text-decoration: underline;
	font-size: 24pt;
	text-shadow: 0 0 3px rgb(255,0,0);
	
}

a:visited {
	
	text-decoration: none;
}

a:active {
	
	text-decoration: none;
}


}    

