html, body 
{
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
}

/* standard block element styles */

#wrapper 
{
	padding: 50px 40px 20px 40px;
}
header 
{
	margin-bottom: 50px;
}
footer 
{
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 200px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 83%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(83%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 83%,rgba(255,255,255,1) 100%);
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0 );  MICROSOFT... *sigh*  */
}
hr 
{
    border: 0;
  	border-top: 2px solid #000;
}

/* INTRO ESSAY STYES  */
.intro_scrollbox /* this is just a box so that we can scroll the intro wrapper */
{
	overflow-y:scroll;
}
.intro_wrapper
{
	height: 600px;
}
.intro_essay 
{
	height: 600px;
	width: 400px;
	margin-right:50px;
	float: left;
}

/* COMPLETE ESSAY STYLES */

.essay_wrapper 
{	
	clear: both;
	margin-bottom: 200px;
}
.essay_nav, .essay_nav_inner
{
	width: 250px;
	float: left;
}
.essay_nav ul 
{
	padding: 10px 0 0;
}
.essay_nav li 
{
	list-style-type: none;
	margin-bottom: 10px;
}
.scrolling { /* keep the navigatation at the top */
    position: fixed;
    top: 0;
}
.essay_complete 
{
	margin:0 auto;
	width: 500px;
}
.courier, .footnote  
{
	font-family: 'Courier New', monospace;
	font-size:10pt;
}

/* ESSAY SWITCH STYLES */

.the_essay 
{
	margin-top: 25px;
	padding-top: 25px;
	display: none;
}

/* andere stijlen */
.button 
{	
	color: #000;
	padding: 7px 10px;
	border:2px solid #000;
	font-family: 'Courier New', monospace;

}
.button:hover 
{
	background: #000;
	color:#fff;
	text-shadow: none;
}

/* links stijlen */
a 
{
	color: black;
	text-decoration: none;
}
a:hover 
{
	color: red;
	text-decoration: underline;
	text-shadow: 0 0 3px rgb(255,0,0);
}
a:visited 
{
	text-decoration: none;
}
a:active 
{
	text-decoration: none;
} 